body {

    font-family: 'Montserrat', sans-serif;
}


.inline-block {
        display:inline-block;
        vertical-align: bottom;
}
.logo {
    background-color: red;
    width:23%;
    padding:1%;
    text-align:center;
}
.logoitem { 
    display:inline-block;
    width:130px;
    position: relative;
    left:0px;
    top:5px;
}

.designtitle {
    display:inline-block;

}

nav {
    width:72%;      /*  original 73% */
    padding:1%;
    background-color:lightblue;
  
}
.inline {
    display:inline;
}

.navitem {
    padding: 5px;
}

ul {
    text-align: right;
}

.heroImg {
    height:600px;
    padding:25px;
}

